@font-face {
    font-family: Optimo-Plain;
    src: url('../fonts/optimo/Plain-Light.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Optimo-Plain;
    src: url('../fonts/optimo/Plain-LightIta.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Optimo-Plain;
    src: url('../fonts/optimo/Plain-Regular.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Optimo-Plain;
    src: url('../fonts/optimo/Plain-RegularIta.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Optimo-Plain;
    src: url('../fonts/optimo/Plain-Medium.ttf') format('truetype'); /* [1] */
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Optimo-Plain;
    src: url('../fonts/optimo/Plain-MediumIta.ttf') format('truetype'); /* [1] */
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: BB-Roller-Regular;
    src: url('../fonts/bb-roller/BB-Roller-Mono-Regular-fontlab.ttf')
        format('truetype'); /* [1] */
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: BB-Roller-Mono-semibold;
    src: url('../fonts/bb-roller/BB-Roller-Mono-ProTx-semibold.otf')
        format('truetype'); /* [1] */
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: Optimo-Plain, sans-serif;
}

.portal-header {
    background: #323946
}

.hosted-api-docs{
    height: calc(100vh - 24px);
}

.branding-container .logo p {
    color: #eaedf2
}
.since-beta-tag {
    padding: 1px 5px;
    margin: 0 10px 0 0;
    border-radius: 4px;
    border: 1px solid #707070;
    color: white;
    font-size: 0.8em;
    font-weight: normal;
    background: grey;
}
