@font-face {
    font-family: 'Optimo-Plain';
    src: url('../fonts/Plain-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Optimo-Plain';
    src: url('../fonts/Plain-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.portal-header {
    background: #323946
}
.branding-container .logo p {
    color: #eaedf2
}
.since-beta-tag {
    float: left;
    padding: 1px 5px;
    margin: 0 10px 0 0;
    border-radius: 4px;
    border: 1px solid #707070;
    color: white;
    font-size: 0.8em;
    font-weight: normal;
    background: rgb(69, 191, 123);
}
